@model DevExpress.Razor.Models.Account
@functions{
    string GetEditorsNames()
    {
        string result = string.Empty;
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            if (!string.IsNullOrEmpty(result))
                result += ",";
            result += string.Format("\'{0}\'", property.PropertyName);
        }
        return string.Format("[{0}]", result);
    }
    bool ShowTabs { get { return ViewData["ShowTabs"] == null ? true : (bool)ViewData["ShowTabs"]; } }
}

<script type="text/javascript">
   
    function OnSubmitForm(s, e) {
        if ($("#validateForm").valid())
            $("#validateForm").submit();
        else {
            alert("Correct all errors first");
        }
    }

    function OnClickNextButton(s, e) {
        var indexTab = pageControl.GetActiveTabIndex();
        if ($("#validateForm").valid())
            pageControl.SetActiveTabIndex(indexTab + 1);
    }
    function OnTabChanging(s, e) {
        e.cancel = !$("#validateForm").valid();

    }
    function OnCheckedChanged(s, e) {      
        window.location.href = "@Url.Action("Wizard", "Registration")" + "?showTabs=" + s.GetValue();       
    }
</script>

<div style="float: left">
    @using (Html.BeginForm("Wizard", "Registration", FormMethod.Post, new { id = "validateForm" }))
    {
        @Html.DevExpress().CheckBox(settings =>
   {
       settings.Name = "ShowTabs";
       settings.Text = "Show Tabs";
       
       settings.Properties.ClientSideEvents.ValueChanged = "OnCheckedChanged";
   }).Bind(ShowTabs).GetHtml()     
        <br />        
        @Html.DevExpress().PageControl( settings => {
            settings.Name = "pageControl";
            settings.EnableClientSideAPI = true;
            settings.Width = Unit.Pixel(350);
            settings.ShowTabs = ShowTabs;
            settings.ClientSideEvents.ActiveTabChanging = "OnTabChanging";
            settings.TabPages.Add("Personal").SetContent(() => {
                Html.RenderPartial("PersonalPartial", Model);
            });

            settings.TabPages.Add("Date").SetContent(() => {
                 Html.RenderPartial("DatePartial", Model);
            });

            settings.TabPages.Add("Contact").SetContent(() => {
                Html.RenderPartial("ContactPartial", Model);
            });
        }).GetHtml()
    }
    
</div>
<div id="popupAnchor" style="float: left; margin-left: 5px"></div>
@if (ViewData["AccountData"] != null)
{
    @Html.Partial("SummaryPartial")
}